name: Deploy snapshot

on:
  # Trigger ONLY on push to master branch
  push:
    branches:
      - master
jobs:
  build-test:
    uses: airbnb/DeepLinkDispatch/.github/workflows/build_test.yml@master
  deploy-snapshot:
    needs: build-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout DeepLinkDispatch
        uses: actions/checkout@v6
      - name: Set up JDK 22
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: '22'
      - name: Update gradle.properties
        uses: DamianReeves/write-file-action@master
        with:
          path: gradle.properties
          write-mode: append
          contents: |
            mavenCentralUsername=${{ secrets.NEXUS_USER }}
            mavenCentralPassword=${{ secrets.NEXUS_PASSWORD }}

      - name: Deploy new snapshot of DeepLinkDispatch
        shell: bash
        run: ./gradlew -PenforceSnapshotVersion=true publishAllPublicationsToMavenCentral
